h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem ;
    color: rgb(7, 7, 7);
    text-align: center;

}

textarea{
    height: 25em;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;

}

.link{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem ;
    color: blue; 
    text-align: center;  
}

span {
    padding-inline: 4em;
}

