<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="/static/styles.css">
    <title>{% block title %}{{posts.title}}{% endblock title %}</title>

</head>
<body>
    <div>
            <a href='/blog'>Main Blog Page   </a><span>
            <a href='/newpost'>Add a Blog Entry</a></span>
            <br><br>

    </div>

    {% block content %}
    
    
    {% endblock content %}
    
</body>
</html>