{% extends "base.html" %}

{% block title%} 
My Blog
{% endblock title%}


{% block content %}
<h1>Add a Blog Entry</h1>

    <form name="blogPost" action="/" method ="POST">
        <div class="title">
        <!--Title Goes Here-->
            <label for="title" >Title: </label><br>
            <input id="title" name="title" type="text" />
        </div>
        <br>
        <br>
         <!--Content Goes Here-->
        <div>            
            <label for="content" >Your New Blog: </label><br>
            <textarea id="content"   name="content" placeholder="Write your blog content here"></textarea>
            <br>
            <input type="submit" value="Add New Post">
        </div>
</form>


{% endblock content %}