{% extends "base.html" %}

{% block title%} 
My Blog
{% endblock title%}


{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
{% endwith %}

    <h1>Add a Blog Entry</h1>
    <form name="blogPost" method ="POST">
        <div class="title">
        <!--Title Goes Here-->
            <label for="title" >Title for new blog: </label><br>
            <input id="title" name="title" type="text" value="{{title}}"/>
        </div>
        
        <div>
            <label for="content">Your new blog:</label><br>
            <input type="text"  id="content"   name="content" value='{{content}}' ></textarea>
            <br>
            <input type="submit" value="Add New Post">
        </div>
</form>


{% endblock content %}