{% extends "base.html" %}

{% block title%} 
My Blog
{% endblock title%}


{% block content %}
    <hr/>
        <form name="blogPost" method ="POST">
        <div class="title">
        <!--Title Goes Here-->
            <label for="title" >Blog Post Title: </label>
            <input id="title" name="title" type="text" />
        </div>
        <hr/>
        <div>
            <h2>Write Blog Post Here:</h2>
            <textarea id="content"   name="content" placeholder="Write your blog content here"></textarea>
            <br>
            <input type="submit" name="submit"  value="Add A New Post">
        </div>
</form>


{% endblock content %}